@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
    color: inherit;
  	font-family: inherit;
  	/* Browsers have different default form fonts */
  	font-size:inherit;
  	line-height: inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  input {
    -webkit-appearance: none;
  }

  /* Remove the stupid outer glow in Webkit */
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    border: none;
    outline: 0;
  }

  /* Box Sizing Reset
  -----------------------------------------------*/

  /* All of our custom controls should be what we expect them to be */
  input,
  textarea {
  	box-sizing:border-box;
  }

  /* These elements are usually rendered a certain way by the browser */
  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week] {

  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  /* Make webkit render the search input like a normal text field */
  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  ::-webkit-search-decoration {
  	display:none;
  }

  /* Buttons
  -----------------------------------------------*/

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	/* Fix IE7 display bug */
  	overflow:visible;
  }

  /* IE8 and FF freak out if this rule is within another selector */
  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea {
  	/* Turn off scroll bars in IE unless needed */
  	overflow:auto;
  	/* Move the label to the top */
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	/* Move the label to the top */
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;

    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$black: #1C1C1C;
$white: white;
$grey-01: #DFDFDF;
$grey-02: #CECECE;
$grey-03: #D6D6D6;
$font-01: 'Sweet Sans Pro';
$font-02: 'Rasmus';
$stroke-weight: 3px;
$unit-01: calc(13px + .4vw);
$unit-02: calc(26px + .4vw);
$unit-03: calc(39px + .4vw);
$unit-04: calc(52px + .4vw);
$unit-05: calc(65px + .4vw);
$unit-06: calc(77px + .4vw);

* {
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

html {
	font-size: 62.5%;
}

body {
  backface-visibility: hidden;
	background: $grey-01;
  color: $black;
	font-family: $font-01;
	font-size: 14px;
  font-size: calc(14px + .3vw);
  line-height: 1.4;
  opacity: 0;
  will-change: opacity;

  &.show {
    opacity: 1;
  }
}

small {
  font-size: .6em;
  letter-spacing: .04em;
  text-transform: uppercase;
}

img, video {
	display: block;
	width: 100%;
}

p, ul, ol, h1, h2, h3, h4 {
	padding: $unit-02;
}

h1, h2, h3, h4 {
  font-family: $font-02;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2;
}

h4 {
  font-size: 1.6em;
  line-height: 1.2;
}

h5 {
  font-size: 1.4em;
  line-height: 1.2;
}

.st0 {
  fill: $white;
}

.st1 {
  fill: $black;
}

a {
  color: $black;
	text-decoration: none;

  &.button {
    display: inline-block;
    padding: $unit-01 $unit-03;
    border: $stroke-weight solid $black;
    backface-visibility: hidden;
    background: white;
    line-height: .5;
    transition: 220ms background cubic-bezier(.165, .84, .44, 1);
    will-change: background;

    &:hover {
      background: transparent;
    }
  }

  &.button-small {
    display: inline-block;
    padding: 10px;
    border: 1px solid $black;
    backface-visibility: hidden;
    background: transparent;
    line-height: 1;
    transition: 220ms background cubic-bezier(.165, .84, .44, 1);
    will-change: background;

    &:hover {
      background: $white;
    }
  }

	&:focus {
		outline: 0;
	}

	&:hover {

	}
}

u {
  border-bottom: 1px solid $black;
  text-decoration: none;
}

button {
  @include button-reset;
}

.st0 {
  fill: white;
}

.st1 {
  fill: $black;
}

.spin {
  display: inline-block;

  svg {
    transform: rotate(0deg);
    backface-visibility: hidden;
    transition: 220ms transform cubic-bezier(.165, .84, .44, 1);
    will-change: transform;
  }

  &:hover svg {
    transform: rotate(90deg);
  }
}

header {

  &.hide {

    .menu-main {

      transform: translate3d(0, -100%, 0);
    }
  }

  .menu-main {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    width: 100vw;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: 100;

    .container {
      display: flex;
      position: relative;
      flex: 1;
      align-items: center;
      justify-content: center;
      border-bottom: $stroke-weight solid $black;
      background: white;
      z-index: 10;

      a {
        display: inline-block;
        position: relative;

        .diamond {
          position: absolute;
          top: 120%;
          left: 50%;
          width: 6px;
          height: 6px;
          transform:  translate3d(-50%, 0, 0) rotate(45deg);
          background: $black;
          opacity: 0;
          transition: 440ms opacity cubic-bezier(.165, .84, .44, 1);
          will-change: opacity;
        }

        &.active, &:hover {

          .diamond {
            opacity: 1;
          }
        }
      }
    }

    .bookmark {
      position: absolute;
      top: 100%;
      right: 8vw;
      transform: translate3d(0,-110px,0);
      backface-visibility: hidden;
      cursor: pointer;
      transition: 440ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 0;

      &:hover {
        transform: translate3d(0,0,0);
      }

      .drawer {
        display: block;
        position: relative;
        width: 100%;
        height: 110px;
        border-right: $stroke-weight solid $black;
        border-left: $stroke-weight solid $black;
        background: white;

        .text {
          display: block;
          position: absolute;
          top: 0px;
          left: 50%;
          transform: rotate(90deg) translate3d(0, -50%, 0);
          transform-origin: top left;
        }
      }
    }

    ul {

      li {
        display: inline-block;

        a {
          margin: 0 $unit-01;
        }
      }
    }
  }
}

.menu-connect {
  position: fixed;
  bottom: 0px;
  left: 0px;
  transform: rotate(-90deg) translate3d(0, 100%, 0);
  transform-origin: bottom left;
  z-index: 100;

  .connect-toggle {
    display: inline-block;
    vertical-align: top;

    button {
      cursor: pointer;
    }

    &:hover > ul {
      transform: translate3d(0%, 0, 0);
    }
  }

  .connect-menu {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    ul {
      transform: translate3d(-100%, 0, 0);
      backface-visibility: hidden;
      transition: 440ms ease transform;
      will-change: transform;

      li {
        display: inline-block;

        a {
          margin-right: $unit-01;
        }
      }
    }

    &.show ul {
      transform: translate3d(0, 0, 0);
    }
  }
}

.splash {

  .title-fade {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: 0;
    pointer-events: none;
    transition: 1220ms opacity cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 100;

    .wrapper {
      max-width: 620px;

      svg{
        width: 100%;
      }
    }

    &.show {
      opacity: 1;
    }
  }

  .background {
    display: flex;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .collage {
    position: relative;
    height: 100vh;
    z-index: 10;

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20vw;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      color: white;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 1;

      svg {
        width: 100%;
      }

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateX(-34vw) translateY(-10vh);
      }
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30vw;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      background: black;
      color: white;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 3;

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateX(-22vw) translateY(16vh);
      }

      p {
        padding: $unit-01;
        text-align: right;

        svg {
          display: inline-block;
          vertical-align: bottom;
        }
      }

      h2 {
        padding: 2.6vw;
        font-size: 2.8vw;
      }
    }

    .image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50vw;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 2;

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateY(-12vh) translateX(6vw);
      }
    }

    .illustration {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30vw;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 1;

      svg {
        width: 100%;
      }

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateX(24vw) translateY(12vh);
      }
    }
  }

  .intro {
    position: relative;
    padding-bottom: 8vh;
    z-index: 10;

    .text {
      padding: 0 16vw;
      text-align: center;

      h2 {
        font-size: 2.2em;
        line-height: 1.4;
      }
    }

    .buttons {
      padding: 0 8vw;
      text-align: center;

      .button {
        margin: 0 $unit-01;
      }
    }
  }
}

.about {

  .title-fade {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: 0;
    pointer-events: none;
    transition: 1220ms opacity cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 100;

    &.show {
      opacity: 1;
    }
  }

  .background {
    display: flex;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .collage {
    position: relative;
    height: 100vh;
    z-index: 10;

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      background: black;
      color: white;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 3;

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateX(-20vw) translateY(20vh);
      }

      p {
        padding: calc(40px + .4vw);
        padding-top: 0px;
        text-align: right;
      }

      h2 {
        padding: 2.6vw;
        font-size: 2.8vw;
      }
    }

    .image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50vw;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 2;

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateY(-4vh) translateX(2vw);
      }
    }

    .illustration {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
      will-change: transform;
      z-index: 1;

      &.loaded {
        transform: translate3d(-50%, -50%, 0) translateX(24vw) translateY(40vh);
      }
    }
  }

  .intro {
    position: relative;
    padding: 16vh 0;
    padding-bottom: 26vh;
    border-bottom: $stroke-weight solid $black;
    z-index: 10;

    .text {
      padding: $unit-02 12vw;
      text-align: center;

      h2 {
        font-size: 2.6em;
        line-height: 1.4;
      }
    }

    .buttons {
      text-align: center;

      .button {
        margin: 0px $unit-01;
      }
    }
  }

  h3 {
    font-size: 2em;
    line-height: 1.2;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 16vh;
    border-bottom: $stroke-weight solid $black;
    background: $grey-01;

    p, h3 {
      padding: 0;
      padding-bottom: $unit-01;
    }

    .head {
      width: 35vw;
      padding: 8vh 8vw;
      padding-right: 0px;
    }

    .body {
      width: 65vw;
      padding: 8vh 8vw;
      font-size: 1.4em;
    }
  }

  .content {
    // margin: 80vh 0px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-bottom: $stroke-weight solid $black;
    z-index: 10;

    h4 {
      font-family: $font-01;
      font-size: 1.6em;
      font-weight: normal;
    }

    &.events {
      background: $grey-02;

      .event-list {
        padding-bottom: $unit-02;

        .toggle-list {

          button {
            margin-left: $unit-01;
            border-bottom: 1px solid transparent;

            &:hover, &.active {
              border-bottom: 1px solid $black;
            }
          }
        }

        .icon-link-l {
          font-size: .8em;

          svg {
            margin-right: 10px;
            backface-visibility: hidden;
            transition: 440ms margin-right cubic-bezier(.165, .84, .44, 1);
            will-change: transform;
          }

          &:hover {
            svg {
              margin-right: 20px;
            }
          }
        }

        .icon-link-r {
          font-size: .8em;

          svg {
            margin-left: 10px;
            backface-visibility: hidden;
            transition: 440ms margin-left cubic-bezier(.165, .84, .44, 1);
            will-change: transform;
          }

          &:hover {
            svg {
              margin-left: 20px;
            }
          }
        }

        ul {
          padding-top: 0px;
          padding-bottom: 0px;

          p {
            padding-right: 0px;
            padding-left: 0px;
          }

          .event {
            border-bottom: $stroke-weight solid $black;

            &:nth-child(1) {
              border-top: $stroke-weight solid $black;
            }

            .sub-nav {
              display: flex;
              flex-wrap: wrap;

              p {
                padding-top: 0px;
              }

              .read {
                width: 50%;
              }

              .other {
                width: 50%;
                text-align: right;

                a {
                  margin-left: calc(10px + .4vw);
                }
              }
            }

            .toggle-event {
              padding-top: 0px;
              padding-bottom: 0px;

              button {
                display: block;
                position: relative;
                width: 100%;
                padding: calc(22px + .4vw) calc(11px + .2vw);
                backface-visibility: hidden;
                background: transparent;
                transition: 220ms background cubic-bezier(.165, .84, .44, 1);
                will-change: background;

                &:hover {
                  background: white;
                }

                &:after {
                  position: absolute;
                  top: 50%;
                  right: calc(11px + .2vw);
                  transform: translate3d(0,-50%,0) scale(1) rotate(0);
                  backface-visibility: hidden;
                  font-size: 1.2;
                  content: "+";
                  transition: 440ms transform cubic-bezier(.165, .84, .44, 1);
                  will-change: transform;
                }

                &:hover:after {
                  transform: translate3d(0,-50%,0) scale(1.4) rotate(90deg);
                }

                &.open:after {
                  content: "-";
                }
              }
            }
          }
        }

        .description {
          display: none;

          p {
            &:nth-child(1) {
              // padding-top: 0px;
            }
          }
        }
      }
    }

    &.structure {
      background: $grey-03;
    }

    &.mission {
      background: $grey-03;
    }

    &.people {
      background: $grey-02;
    }

    h4 {
      svg {
        margin-right: calc(20px + .4vw);
        vertical-align: middle;
      }
    }

    .left {
      width: 50%;
      padding: 8vh 8vw;

      .image {
        position: relative;
        transform: translate3d(0,-22%,0);

        .title {
          position: absolute;
          top: 20%;
          left: 4vw;
          transform: rotate(90deg) translate3d(0,-100%,0);
          transform-origin: top left;
          color: white;
          z-index: 10;

          h1 {
            padding: 0px;
            font-size: 7em;
            line-height: 1;
          }
        }
      }
    }

    .right {
      width: 50%;
      padding: 8vh 8vw;
      padding-left: 0px;
    }
  }

  .slideframe {
    position: relative;

    .nav {
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      z-index: 10;

      .previous, .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        backface-visibility: hidden;
        cursor: pointer;
        opacity: 0;
        transition: 660ms opacity cubic-bezier(.165, .84, .44, 1);
        will-change: opacity;

        &:hover {
          opacity: 1;
        }

        .switcher {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          border: $stroke-weight solid $black;
          border-radius: 50%;
          background: white;
          font-size: 2em;
          line-height: 1;
          text-align: center;
        }
      }
    }

    .slideshow {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      border-bottom: $stroke-weight solid $black;

      .slide {
        width: 100vh;
        height: 100vh;

        figure {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.finale {
  position: relative;
  padding: 16vh 0;
  z-index: 10;

  .text {
    padding: $unit-02 12vw;
    font-size: 2.6em;
    text-align: center;
  }

  .buttons {
    text-align: center;

    .button {
      margin: 0px $unit-01;
    }
  }
}

.modal {
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  backface-visibility: hidden;
  background: $black;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: 660ms opacity cubic-bezier(.165, .84, .44, 1);
  will-change: opacity;
  z-index: 1000;

  p {
    padding-top: $unit-01;
    padding-bottom: $unit-01;
  }

  .form {
    width: 100%;
    max-width: 620px;
    margin: auto;
    padding: 12vh $unit-01;

    label {
      font-size: .6em;
      letter-spacing: .04em;
      text-transform: uppercase;
    }

    input[type=text], input[type=email] {
      width: 100%;
      border-bottom: 2px solid $white;
    }

    input[type=submit] {
      padding: 10px;
      border: 2px solid $white;
      line-height: 1;
    }

    textarea {
      width: 100%;
      margin-top: 26px;
      padding: $unit-01;
      border: 2px solid $white;
    }
  }

  .title {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 1.4em;

    p {
      padding-left: 8vw;
    }
  }

  .close {
    position: fixed;
    top: 0px;
    right: 0px;

    p {
      padding-right: 8vw;
    }

    button {
      transform: rotate(45deg) translate3d(50%, 0, 0);
      transform-origin: top center;

      .group {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        transform-origin: center;
        backface-visibility: hidden;
        transition: 220ms transform cubic-bezier(.165, .84, .44, 1);
        will-change: transform;

        &:hover {
          transform: rotate(90deg);
        }

        .one {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 3px;
          transform: translate3d(-50%, -50%, 0);
          background: white;
        }
        .two {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 3px;
          transform: translate3d(-50%, -50%, 0) rotate(90deg);
          background: white;
        }
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.share-modal {

}

.contact-modal {

}

.question-modal {

}

.experience-modal {

}

.idea-modal {

}

.newsletter-modal {

}


.events-modal {

  .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    #calendar {
      width: 100%;
      max-width: 620px;

      .header{
        width:100%;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        margin: $unit-02;
        padding: 0px;
        border-top: 2px solid $white;

        li {
          width: 14.2857%;
          border-bottom: 2px solid $white;

          .area {
            display: block;
            width: 40px;
            height: 40px;
            margin: auto;
            margin: $unit-01 0;
            border: 2px solid transparent;
            border-radius: 50%;
            color: rgba(255,255,255,.4);
            line-height: 40px;
            text-align: center;
          }

          &.active {
            .area{
              border-color: $white;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.journal, .category, .single {

  .title-fade {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 1220ms opacity cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 100;

    &.show {
      opacity: 1;
    }

    h1 {
      padding: 0px;
      color: white;
      font-size: 9em;
      line-height: 1;
    }
  }

  .content {
    padding-top: 20vh;
    padding-bottom: 20vh;

    .top {
      padding: 0 8vw;

      .button {
        margin-right: $unit-01;

        &.active {
          background: transparent;
        }
      }
    }

    .post {
      display: flex;
      flex-wrap: wrap;

      .left {
        width: 30vw;
        padding: 8vh 8vw;
        padding-right: 0px;

        a {
          border-bottom: 1px solid $black;

          &:hover {
            border-bottom-color: transparent;
          }
        }

        h3 {
          padding-right: 0px;
        }
      }

      .right {
        width: 70vw;
        padding: 8vh 8vw;

        .main {
          font-size: 1.3em;
          line-height: 1.5;
        }

        .sub {
          padding-right: 8vw;
          h1 {
            font-family: $font-01;
            font-size: 1.4em;
            font-weight: normal;
          }
          h2 {
            font-family: $font-01;
            font-size: 1.3em;
            font-weight: normal;
          }
          h3 {
            font-family: $font-01;
            font-size: 1.2em;
            font-weight: normal;
          }
          h4 {
            font-family: $font-01;
            font-size: 1.1em;
            font-weight: normal;
          }

          strong, b {
            font-weight: bold;
          }

          em, i {
            font-style: italic;
          }
        }

        .rule {
          display: block;
          height: 3px;
          background: $black;
        }
      }
    }
  }
}

.post-type-archive-questions {

  .title-fade {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 1220ms opacity cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 100;

    &.show {
      opacity: 1;
    }

    h1 {
      padding: 0px;
      color: white;
      font-size: 9em;
      line-height: 1;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25vh;
    padding-bottom: 20vh;

    .left {
      width: 30vw;
      padding: 8vh 8vw;
      padding-right: 0px;

      h3 {
        padding-top: 0px;
      }

      h3, p {
        padding-right: 0px;
        padding-left: 0px;
      }
    }

    .right {
      width: 70vw;
      padding: 8vh 8vw;

      .question {
        border-bottom: $stroke-weight solid $black;

        &:nth-child(1) {
          border-top: $stroke-weight solid $black;
        }

        .toggle-question {
          padding-top: 0px;
          padding-bottom: 0px;
          font-family: $font-01;
          font-weight: normal;

          button {
            display: block;
            position: relative;
            width: 100%;
            padding: calc(22px + .4vw) calc(11px + .2vw);
            backface-visibility: hidden;
            background: transparent;
            transition: 220ms background cubic-bezier(.165, .84, .44, 1);
            will-change: background;

            &:hover {
              background: white;
            }

            &:after {
              position: absolute;
              top: 50%;
              right: calc(11px + .2vw);
              transform: translate3d(0,-50%,0) scale(1) rotate(0);
              backface-visibility: hidden;
              font-size: 1.2;
              content: "+";
              transition: 440ms transform cubic-bezier(.165, .84, .44, 1);
              will-change: transform;
            }

            &:hover:after {
              transform: translate3d(0,-50%,0) scale(1.4) rotate(90deg);
            }

            &.open:after {
              content: "-";
            }
          }
        }

        .answer {
          display: none;
          padding: 4vh 0;
          border-top: $stroke-weight solid $black;
        }
      }
    }
  }
}

.get-involved {

  .title-fade {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: 1220ms opacity cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 100;

    &.show {
      opacity: 1;
    }

    h1 {
      padding: 0px;
      color: white;
      font-size: 9em;
      line-height: 1;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25vh;
    padding-bottom: 20vh;

    .left {
      width: 30vw;
      padding: 8vh 8vw;
      padding-right: 0px;

      h3 {
        padding-top: 0px;
      }

      h3, p {
        padding-right: 0px;
      }
    }

    .right {
      width: 70vw;
      padding: 8vh 8vw;

      .main {
        font-size: 1.3em;
        line-height: 1.5;
      }

      p {
        padding-top: 0px;
        padding-left: 0px;
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12vh 4vw;
  background: $black;
  color: $white;

  a {
    color: $white;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    p, ul {
      padding: $unit-01;
    }

    .g-logo {
      width: 15%;
      svg {
        width: 100%;
      }
    }

    .g-contact {
      width: 25%;
    }

    .g-learn {
      width: 15%;
    }

    .g-connect {
      width: 15%;
    }

    .g-newsletter {
      width: 30%;

      label {
        font-size: .6em;
        letter-spacing: .04em;
        text-transform: uppercase;
      }

      input[type=text], input[type=email] {
        width: 100%;
        border-bottom: 2px solid $white;
      }

      input[type=submit] {
        padding: 10px;
        border: 2px solid $white;
        line-height: 1;
      }
    }
  }
}

.foot {
  a {
    border-bottom: 1px solid $black;
  }
}

@media only screen and (max-width: 1024px) {
  .splash {

    .collage {
      position: relative;
      height: 70vh;
      z-index: 10;
    }

    .intro {
      position: relative;
      padding-bottom: 8vh;
      z-index: 10;

      .text {
        padding: 0 8vw;
        text-align: center;

        h2 {
          font-size: 1.8em;
          line-height: 1.4;
        }
      }

      .buttons {
        padding: 0 8vw;
        text-align: center;

        .button {
          margin: 0 $unit-01;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .menu-connect {
    display: none;
  }

  .splash {

    .collage {
      height: auto;

      .logo {
        position: relative;
        top: auto;
        left: auto;
        width: 100vw;
        margin: auto!important;
        transform: translate3d(0%, 0%, 0%)!important;
        text-align: center;

        svg {
          width: 40vw;
        }
      }

      .text {
        display: none;
      }

      .image {
        position: relative;
        top: auto;
        left: auto;
        width: 100vw;
        margin: auto!important;
        transform: translate3d(0%, 0%, 0%)!important;
        backface-visibility: hidden;
        transition: 1220ms transform cubic-bezier(.165, .84, .44, 1);
        will-change: transform;
        z-index: 2;
      }

      .illustration {
        display: none;
      }
    }

    .intro {
      position: relative;
      padding-top: 4vh;
      padding-bottom: 4vh;
      z-index: 10;

      .text {
        padding: 0 4vw;
        text-align: center;

        h2 {
          font-size: 1.4em;
          line-height: 1.4;
        }
      }

      .buttons {
        padding: 0 4vw;
        text-align: center;

        .button {
          margin: 0 $unit-01;
        }
      }
    }
  }
}
